<%
  row = cell(:elements, :row).new
  block = cell(:elements, :block).new(class: 'xs-12 sm-12 md-12')
  code = cell(:elements, :code).new
%>

<!-- PRESENTATION -->
<%=raw row.open %>

  <%=raw block.open %>

    <%=raw cell(:elements, :title).new(label: 'Fields: Geolocalization') %>

    <p>A map selector.</p>

  <%=raw block.close %>

<%=raw row.close %>
<!-- / PRESENTATION -->

<!-- CONFIGURATION SECTION -->
<%=raw row.open %>

<%=raw block.open %>

<%=raw cell(:elements, :title).new(label: 'Configuration', size: 4) %>

<p>
The configuration option should be:
</p>

<%=raw code.open %>

post_fields:
  location:
    type: geolocalization
    label: Select the location of the story
    class: md-12
    categories: ['category_permalink']

<%=raw code.close %>

<%=raw block.close %>

<%=raw row.close %>
<!-- / CONFIGURATION SECTION -->

<!-- API RESULT SECTION -->
<%=raw row.open %>

<%=raw block.open %>

<%=raw cell(:elements, :title).new(label: 'API Result', size: 4) %>

<p>
The object returned from API should be:
</p>

<%=raw code.open %>

"fields": {
  "location": {
    "key": "location",
    "typology": "geolocalization",
    "value": {
      "latitude": "46.07106679999999",
      "longitude": "13.23457940000003",
      "address": "33100 Udine UD, Italia"
    }
  }
}

<%=raw code.close %>

<%=raw block.close %>

<%=raw row.close %>
<!-- / API RESULT SECTION -->