<%
  row = cell(:elements, :row).new
  form = cell(:inputs, :form).new(url: url, method: method)
%>

<%=raw form.open %>

  <input type="hidden" name="parent" value="<%= @category_parent ? @category_parent.id : nil %>">

  <%=raw row.open %>

    <% if method === :put %>

      <%=raw cell(:inputs, :text).new(name: 'category[meta_permalink]', label: LANGUAGES[:lato_blog][:forms][:permalink],
      required: true, class: 'md-12', value: @category.meta_permalink) %>

    <% end %>

    <%=raw cell(:inputs, :text).new(name: 'category[title]', label: LANGUAGES[:lato_blog][:forms][:title],
    required: true, class: 'md-12', value: @category.title) %>

    <%=raw cell(:inputs, :select).new(name: 'category[lato_blog_category_id]', label: LANGUAGES[:lato_blog][:forms][:category_father],
    required: false, class: 'md-12', options: @categories_list, option_value: 'value', option_name: 'title',
    value: @category.lato_blog_category_id) %>

  <%=raw row.close %>

  <div class="text-right">

    <%=raw cell(:elements, :button).new(type: 'link', label: LANGUAGES[:lato_blog][:mixed][:cancel],
    style: 'danger', icon: 'ban', url: lato_blog.categories_path) %>

    <%=raw cell(:elements, :button).new(type: 'submit', label: LANGUAGES[:lato_blog][:mixed][:save],
    style: 'success', icon: 'check') %>

  </div>

<%=raw form.close %>