<%
  row = cell(:elements, :row).new
  block = cell(:elements, :block).new(class: 'xs-12 sm-12 md-12')
%>

<!-- PRESENTATION -->
<%=raw row.open %>

  <%=raw block.open %>

    <%=raw cell(:elements, :title).new(label: 'Lato Blog Documentation') %>

  <%=raw block.close %>

<%=raw row.close %>
<!-- / PRESENTATION -->

<!-- FIELDS SECTION -->
<%=raw row.open %>

  <%=raw block.open %>

    <%=raw cell(:elements, :title).new(label: 'Post fields', size: 2) %>

    <p>
    Post fields are a list of possible custom fields that can be added to a post object from the configuration file.
    </p>

    <%=raw cell(:elements, :button).new(label: 'Text', url: lato_blog.doc_fields_text_path) %>
    <%=raw cell(:elements, :button).new(label: 'Media', url: lato_blog.doc_fields_media_path) %>
    <%=raw cell(:elements, :button).new(label: 'Geolocalization', url: lato_blog.doc_fields_geolocalization_path) %>

  <%=raw block.close %>

<%=raw row.close %>
<!-- / FIELDS SECTION -->
