<%
  row = cell(:elements, :row).new
  block = cell(:elements, :block).new(class: 'xs-12 sm-12 md-12')
  code = cell(:elements, :code).new
%>

<!-- PRESENTATION -->
<%=raw row.open %>

  <%=raw block.open %>

    <%=raw cell(:elements, :title).new(label: 'Lato Blog Documentation') %>

  <%=raw block.close %>

<%=raw row.close %>
<!-- / PRESENTATION -->

<!-- GENERAL SECTION -->
<%=raw row.open %>

  <%=raw block.open %>

    <%=raw cell(:elements, :title).new(label: 'General', size: 2) %>

    <%=raw cell(:elements, :button).new(label: 'Installation', url: lato_blog.doc_general_installation_path) %>
    <%=raw cell(:elements, :button).new(label: 'Personalization', url: lato_blog.doc_general_personalization_path) %>

  <%=raw block.close %>

<%=raw row.close %>
<!-- / GENERAL SECTION -->

<!-- FIELDS SECTION -->
<%=raw row.open %>

  <%=raw block.open %>

    <%=raw cell(:elements, :title).new(label: 'Post fields', size: 2) %>

    <p>
    Post fields are a list of possible custom fields that can be added to a post object from the configuration file.
    </p>

    <p>
    Every field should be defined on the configuration file under the "post fields" setting. <br>
    Under the field options you must tell to the system which type of field it will be. You can also tell the system
    the list of categories where show posts.
    </p>

    <p>Here there is an example of a post fields configuration:</p>

<%=raw code.open %>

post_fields:
  field_key:
    type: field_type
    position: position_number
    categories: ['category_permalink_1', 'category_permalink_2'] # not required

<%=raw code.close %>

    <br>
    
    <%=raw cell(:elements, :title).new(label: 'Base fields', size: 4) %>

    <%=raw cell(:elements, :button).new(label: 'Text', url: lato_blog.doc_fields_text_path) %>
    <%=raw cell(:elements, :button).new(label: 'Datetime', url: lato_blog.doc_fields_datetime_path) %>
    <%=raw cell(:elements, :button).new(label: 'Editor', url: lato_blog.doc_fields_editor_path) %>
    <%=raw cell(:elements, :button).new(label: 'Geolocalization', url: lato_blog.doc_fields_geolocalization_path) %>
    <%=raw cell(:elements, :button).new(label: 'Image', url: lato_blog.doc_fields_image_path) %>

    <br> <br>
    <%=raw cell(:elements, :title).new(label: 'Group fields', size: 4) %>

    <%=raw cell(:elements, :button).new(label: 'Composed', url: lato_blog.doc_fields_composed_path) %>
    <%=raw cell(:elements, :button).new(label: 'Relay', url: lato_blog.doc_fields_relay_path) %>

  <%=raw block.close %>

<%=raw row.close %>
<!-- / FIELDS SECTION -->
