<%
  block = cell(:elements, :block).new(class: 'xs-12 sm-12 md-12 posts__edit-categories')
  form = cell(:inputs, :form).new(url: lato_blog.posts_update_categories_path, method: :post)
%>

<%=raw block.open %>

  <%=raw cell(:elements, :title).new(label: LANGUAGES[:lato_blog][:mixed][:change_categories], size: 6) %>

  <%=raw form.open %>

    <input type="hidden" name="id" value="<%= @post.id %>">

    <% @categories.each do |category| %>

      <%=raw cell(:inputs, :checkbox).new(name: "categories[#{category.id}]", label: category.title,
      value: @post.categories.include?(category)) %>
      
    <% end %>

    <div class="text-right">
      <%=raw cell(:elements, :button).new(type: 'submit', label: LANGUAGES[:lato_blog][:mixed][:update],
      icon: 'refresh') %>
    </div>
  
  <%=raw form.close %>
 
<%=raw block.close %>