<%
  row = cell(:elements, :row).new
%>

<div
  class="fields__container fields-geolocalization <%= post_field.meta_datas[:class].blank? ? field_general_get_default_class : post_field.meta_datas[:class] %>"
  data-field-id="<%= post_field.id %>"
>
  
  <%=raw row.open %>
    <%=raw cell(:inputs, :geolocalization).new(
      label: post_field.meta_datas[:label],
      name_lat: "#{key}[lat]",
      name_lng: "#{key}[lng]",
      name_address: "#{key}[address]",
      value_lat: lat,
      value_lng: lng,
      value_address: address
    ) %>
  <%=raw row.close %>

</div>