<%
  row = cell(:elements, :row).new
%>

<div
  class="fields__container fields-composed <%= post_field.meta_datas[:class].blank? ? 'md-12' : post_field.meta_datas[:class] %>"
  data-field-id="<%= post_field.id %>"
>

  <div class="fields__label fields-composed__label">
    <%= post_field.meta_datas[:label] %>
  </div>

  <%=raw row.open %>

    <% post_field.post_fields.visibles.each do |child_post_field| %>

      <%= render_post_field(child_post_field, key) %>

    <% end %>

  <%=raw row.close %>

</div>