<%
  row = cell(:elements, :row).new
%>

<div
  class="fields__container fields-relay <%= post_field.meta_datas[:class].blank? ? field_general_get_default_class : post_field.meta_datas[:class] %>"
  data-field-id="<%= post_field.id %>"
>

  <div class="fields__label fields-composed__label">
    <%= post_field.meta_datas[:label] %>
  </div>

  <div class="fields-relay__sortableblock">
    <%=raw row.open %>
      <%=raw cell(:inputs, :sortableblock).new(name: key, components: field_relay_generate_components(post_field))%> 
    <%=raw row.close %>
  </div>

  <div class="fields-relay__menu-container">
    <div class="fields-relay__menu-add">
      <div class="fields-relay__menu-add-icon">
        +
      </div>
    </div>

    <ul class="fields-relay__menu">

      <% # TODO: Order by position %>
      <% post_field[:meta_datas][:fields].each do |key, content| %>
        <li class="fields-relay__menu-item">
          <%= link_to(content[:label], lato_blog.post_fields_create_relay_field_path(key: key, post_field_id: post_field.id), remote: true, method: :post) %>
        </li>
      <% end %>

    </ul>
  </div>

</div>