<%
  row = cell(:elements, :row).new
  form = cell(:inputs, :form).new(url: url, method: method)
%>

<%=raw form.open %>

  <input type="hidden" name="parent" value="<%= @post_parent ? @post_parent.id : nil %>">

  <%=raw row.open %>

    <%=raw cell(:inputs, :text).new(name: 'post[title]', label: LANGUAGES[:lato_blog][:forms][:title],
    required: true, class: 'md-12', value: @post.title) %>

    <%=raw cell(:inputs, :text).new(name: 'post[subtitle]', label: LANGUAGES[:lato_blog][:forms][:subtitle],
    required: false, class: 'md-12', value: @post.subtitle) %>

  <%=raw row.close %>

  <div class="text-right">

    <%=raw cell(:elements, :button).new(type: 'link', label: LANGUAGES[:lato_blog][:mixed][:cancel],
    style: 'danger', icon: 'ban', url: lato_blog.posts_path) %>

    <%=raw cell(:elements, :button).new(type: 'submit', label: LANGUAGES[:lato_blog][:mixed][:save],
    style: 'success', icon: 'check') %>

  </div>

<%=raw form.close %>