<%
  row = cell(:elements, :row).new
  form = cell(:inputs, :form).new(url: url, method: method)
%>

<%=raw form.open %>

  <input type="hidden" name="parent" value="<%= @post_parent ? @post_parent.id : nil %>">

  <%=raw row.open %>

    <% if method === :put %>

      <%=raw cell(:inputs, :text).new(name: 'post[meta_permalink]', label: LANGUAGES[:lato_blog][:forms][:permalink],
      required: true, class: 'md-12', value: @post.meta_permalink) %>

    <% end %>

    <%=raw cell(:inputs, :text).new(name: 'post[title]', label: LANGUAGES[:lato_blog][:forms][:title],
    required: true, class: 'md-12', value: @post.title) %>

    <%=raw cell(:inputs, :text).new(name: 'post[subtitle]', label: LANGUAGES[:lato_blog][:forms][:subtitle],
    class: 'md-12', value: @post.subtitle) %>

  <%=raw row.close %>

  <% if method === :put %>

    <%=raw row.open %>

      <%=raw cell(:inputs, :editor).new(name: 'post[content]', label: LANGUAGES[:lato_blog][:forms][:content],
      class: 'md-12', value: @post.content) %>

      <%=raw cell(:inputs, :textarea).new(name: 'post[excerpt]', label: LANGUAGES[:lato_blog][:forms][:excerpt],
      class: 'md-12', value: @post.excerpt) %>

    <%=raw row.close %>

    <%=raw row.open %>

      <% CONFIGS[:lato_blog][:post_fields].each do |field| %>
        
        <%= render_post_field(@post, field.last, field.first) %>

      <% end %>

    <%=raw row.close %>

  <% end %>

  <div class="text-right">

    <%=raw cell(:elements, :button).new(type: 'link', label: LANGUAGES[:lato_blog][:mixed][:cancel],
    style: 'danger', icon: 'ban', url: lato_blog.posts_path) %>

    <%=raw cell(:elements, :button).new(type: 'submit', label: LANGUAGES[:lato_blog][:mixed][:save],
    style: 'success', icon: 'check') %>

  </div>

<%=raw form.close %>